<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks system</title>
    <link rel="stylesheet" href="https://karpen.online/app/style.css">
</head>
<body style="background: #0d1117;">
    <header style="background: #9ea404; color: white; padding: 10px;">
        <h1>karpen task system</h1>
    </header>
    <main>
        <div class="content">
            <div class="tasks" style="color: white; background: #222d3d; margin-left: 40px; margin-right: 40px; margin-top: 40px;">
                <h2 style="font-size: 28px; padding: 10px;">You tasks:</h2>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="one"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="two"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="thr"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="for"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="fiv"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="six"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="sev"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="eig"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="nin"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="ten"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="ele"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="twe"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="the"> </p>
                </div>
                <div class="task">
                    <p style="padding-left: 10px; font-size: 18px;" id="frt"> </p>
                </div>
                <div class="task" style="padding-bottom: 10px;">
                    <p style="padding-left: 10px; font-size: 18px;" id="fft"> </p>
                </div>
            </div>
            <div class="new-task" style="color: white; background: #222d3d; margin-left: 40px; margin-right: 40px; margin-top: 20px;">
                <h2 style="font-size: 28px; padding: 10px;">Create new task</h2>
                <div class="input">
                    <input type="text" id="inp" placeholder="Name task" style="font-size: 18px; margin-left: 10px; border: none; color: white; border-radius: 10px;">
                    <button class="btn" onclick="createTask()">Create</button>
                </div>
            </div>
            <div class="del-task" style="color: white; background: #222d3d; margin-left: 40px; margin-right: 40px; margin-top: 20px;">
                <h2 style="font-size: 28px; padding: 10px;">Delete old task</h2>
                <div class="input">
                    <input type="text" id="del-inp" placeholder="Id task" style="font-size: 18px; margin-left: 10px; border: none; color: white; border-radius: 10px;">
                    <button class="btn" onclick="deleteTask()">Delete</button>
                </div>
            </div>
        </div>
    </main>
    <script src="https://karpen.online/app/script.js"></script>
</body>
</html>